/* LOGO */
.ef_logo {
	position: sticky;
	top: 20px;
	z-index: 1;
	height: fit-content;
}

.ef_logo_stripetable {
	position: relative;
	width: 100%;
	height: 100%;

	border-collapse: collapse;
}

.ef_logo_stripetable td {
	padding: 0;
	border: var(--main-color) 3px solid;
	background-color: var(--bg-color);
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

.ef_logo_triangle_container {
	position: absolute;
	z-index: 1;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transform-origin: left top;
	height: auto;
	width: 100px;
	top: 0;
	left: 0;
}

.ef_logo_triangle_container svg{
	height: inherit;
	width: fit-content;
	fill: none;
	stroke: var(--main-color);
	stroke-width: 2px;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

.ef_logo_text {
	position: absolute;
	width: 63px;
	height: 36px;
	right: 7.5px;

	font-style: normal;
	font-weight: 700;
	line-height: 75%;
	text-align: right;
	letter-spacing: -0.03em;
	word-wrap: break-word;

	color: var(--main-color);
}

/* THEME SUN and MOON */
.theme_light path,
.theme_dark path{
	fill: var(--main-color);
}

.theme_dark,
.theme_light{
	position: absolute;
	left: 13.5px;
	top: calc(50% - 48px / 2);
	z-index: 3;
}

html[data-theme="light"] .theme_dark,
html[data-theme="dark"] .theme_light{
	display: none;
}

@media (min-width: 1600px){	
	.ef_logo_triangle_container{
		transform: scaleY(1.01666666667);
		
	}
	.ef_logo_triangle_container svg{
		stroke-width: 3px;
	}
	.ef_logo_stripetable td {
		border-width: 3px;
		height: 57px;
	}
	.ef_logo_text {
		top: calc(50% - 40px / 2);
		font-size: 1.2rem;
	}
}

@media (min-width: 640px) and (max-width: 1600px){
	.ef_logo_triangle_container{
		transform: scaleY(0.84444444444);
	}
	.ef_logo_stripetable td {
		border-width: 2px;
		height: 48px;
	}
	.ef_logo_text {
		top: calc(50% - 32px / 2);
		font-size: 1.2rem;
	}
}

@media (max-width: 640px){
	.theme_dark,
	.theme_light{
		transform: scale(0.75);
		left: 3px;
	}
	
	.ef_logo_triangle_container{
		transform: scale(0.67777777777);
	}
	.ef_logo_stripetable td {
		border-width: 2px;
		height: 38px;
	}
	.ef_logo_text {
		top: calc(50% - 32px / 2);
		font-size: 1.5rem;
	}
}