@font-face {
	font-family: 'Cygre';
	src:
		local("Cygre Regular"),
		local("Cygre-Regular"),
		url('../fonts/Cygre-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Cygre';
	src:
		local("Cygre Bold"),
		local("Cygre-Bold"),
		url('../fonts/Cygre-Bold.ttf');
	font-weight: 700;
}

:root {
	--main-font: 'Cygre', sans-serif;
	font-family: var(--main-font);
}

:root {
	scrollbar-color: hsl(var(--main-color)) hsl(var(--bg-color));
	scrollbar-width: thin;
	transition: all 1s ease-in-out;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

::-webkit-scrollbar-track {
	border: none;
	box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--main-color));
	border-radius: 7px;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--main-color));
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

::-webkit-scrollbar-button:vertical:start:decrement {
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement:hover {
	background-color: hsl(var(--main-color));
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
::-webkit-scrollbar-button:vertical:start:decrement:hover {
	background-color: hsl(var(--main-color));
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
::-webkit-scrollbar-button:horizontal:end:increment:hover {
	background-color: hsl(var(--main-color));
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
::-webkit-scrollbar-button:vertical:end:increment:hover {
	background-color: hsl(var(--main-color));
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}


html[data-theme="light"] {
	/* --bg-color: #EEF4FE; */
	--bg-color: 217.5 88.9% 96.5%;
	/* --main-color: #1E2D4C; */
	--main-color: 220.4 43.4% 20.8%;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

html[data-theme="dark"] {
	/* --bg-color: #1E2D4C; */
	--bg-color: 220.4 43.4% 20.8%;
	/* --main-color: #D7E5FE; */
	--main-color: 218.5 95.1% 92%;
	transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

::selection{
	color: hsl(var(--bg-color));
	background-color: hsl(var(--main-color));
}

body {
	background-color: hsl(var(--bg-color));
	margin: 0;
	transition: background-color 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out;
}

.bg_pattern{
	background-image: url("../images/topography.svg");
	background-size: 900px 900px;
	opacity: 0.07;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 200px;
	z-index: -1;
}

html[data-theme="dark"] .bg_pattern{
	filter: invert(100%);
}

.main_container {
	position: relative;
	top: 0;
	left: 0;
}

@media (min-width: 1600px) {
	:root {
		font-size: 18px;
	}
	
	.main_container {
		padding: 2rem 200px;
	}	
}

@media (min-width: 1024px) and (max-width: 1600px){
	:root {
		font-size: 16px;
	}
	
	.main_container {
		padding: 2rem 100px;
	}
}

@media (min-width: 640px) and (max-width: 1024px){
	:root {
		font-size: 14px;
	}
	
	.main_container {
		padding: 2rem 20px;
	}
}

@media (max-width: 640px){
	:root {
		font-size: 12px;
	}
	
	.main_container {
		padding: 2rem 20px;
	}
}